@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 60px;
    margin-top: 110px;
}

.wrapper{
    display: grid;
    grid-template-columns: 150px auto;
}

.collection-leftNav{
    position: fixed;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 15px;
    grid-column: 1;
    padding-left: 20px;
}

.collection-leftNav li{
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none;
}

.collection-leftNav a{
    color: #000000;
}

.collection-body{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.collection-body h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.collection-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-value{
    font-size: 20px;
    margin-bottom: 15px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-button img {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.search-bar input{
    background-color: #D9D9D9;
    border: 2px black;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    width: 450px;
}

.collection-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.collection-view p{
    font-size: 15px;
    margin-right: 15px;
}

.collection-form-group-checkbox{
    display: flex;
    flex-direction: row;
}

.collection-form-group-checkbox input{
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    background-color: #D9D9D9;
}

.collection-form-group-checkbox input:checked {
    background-color: #2196F3;
}

.collection-sortfilter{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    gap: 200px;
    width: 100%;
}

.sortby, .filterby{
    position: relative;
}

.sortby p, .filterby p{
    cursor: pointer;
    font-size: 18px;
}

.sorting-options, .filtering-options, 
.filtering-choices{
    display: flex;
    position: absolute;
    top: 20px;
    text-decoration: none;
    z-index: 1000;
}

.sorting-options ul, .filtering-options ul, 
.filtering-choices ul{
    position: absolute;
    width: 300px;
    padding-left: 0;
    list-style-type: none;
    margin-top: 10px;
}

.sorting-options, .filtering-options, 
.filtering-choices ul:active{
    display: block;
}

.sorting-options, .filtering-options, 
.filtering-choices li{
    margin-bottom: 10px;
    cursor: pointer;
}

.aspect-options, .type-options, 
.cost-options, .set-options{
    padding-left: 15px;
}

.aspect-options input[type="checkbox"], 
.type-options input[type="checkbox"], 
.cost-options input[type="checkbox"], 
.set-options input[type="checkbox"]{
    margin-right: 10px;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
}

.aspect-options input[type="checkbox"]:checked, 
.type-options input[type="checkbox"]:checked, 
.cost-options input[type="checkbox"]:checked, 
.set-options input[type="checkbox"]:checked{
    background-color:#2196F3
}