@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.banner {
    max-width: 100%;
    height: auto;
}

.banner-container {
    position: relative;
}

/* Box overlay */
.banner-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(56, 56, 56, 0.8);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.banner-contents-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    padding-left: 40px;
    letter-spacing: 2px;
}

.banner-contents-left h2 {
    text-decoration: underline;
    text-align: left;
    font-size: 20px;
}

.banner-contents-left h3{
    text-align: left;
    padding-left: 30px;
    font-size: 50px;
}

.banner-contents-left p{
    text-align: left;
    padding-left: 60px;
    font-size: 20px;
}

.banner-contents-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contents-right img {
    max-width: 68%;
    max-height: auto;
    width: auto;
    height: auto;
    padding-left: 40px;
    object-fit: fill;
    border: none;
    border-radius: 20px;
}

.box-container{
    display: grid;
    font-family: 'Open Sans Condensed', sans-serif;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.left-boxes{
    display: flex;
    flex-direction: column;
    width: calc(50% - (width_of_right_box + gap_between_boxes) / 2);
    font-size: 50px;
    text-align: center;
    justify-content: space-between;
    float: left;
    margin-top: -20px;
}

.news-box{
    color: black;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#ACB0CD 32%, #DCB3BA 65%, #E1B2B8 100%);    
    align-items: center;
}

.news-box img{
    margin-left: auto;
}

.news-box h3{
    flex: 1;
    text-align: center;
}

.blogs-box{
    color: white;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle at 40% 50%, #042B32 0%, #3A82AA 81%);    
    align-items: center;
    justify-content: space-between;
}

.blogs-box img{
    margin-right: auto;
}

.blogs-box h3{
    flex: 1;
    text-align: center;
}

.right-box{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    justify-content: center; 
    align-items: right;
    float: right;
    margin-top: -20px;
    width: calc(50% - (width_of_left_box + gap_between_boxes) / 2);
}

.build-a-deck-box{
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, #3F396E 0%, #1C141C 100%); /* Applied gradient to the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.build-a-deck-box h3{
    flex: 1;
    text-align: center;
}

.build-a-deck-box img{
    max-width: 100%;
}

a {
    text-decoration: none;
}